html {
  font-size: 62.5%;
}

html, body {
  width: 100%;
  height: 100vh;
  position:relative;
  overflow-x:hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;;
}

h1 {
  font-size: 2.8rem;
  font-style: normal;
  font-weight: 700;
  margin-bottom: 1rem;
  font-family: 'Archivo Black', sans-serif;
  color: #333333;
}

p {
  font-size: 1.6rem;
  margin-bottom: 1rem;
  color: #979797;
}


/* ! header */

.header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 9.6rem;
  min-height: 10vh;
}

/* ! header logo */

.header__logo {
  width: 16rem;
  height: auto;
  margin-right: 6.4rem;
}

/* ! header menu */

.header__menu {
  position: relative;
  display: flex;
  gap: 3.2rem;
  margin-left: auto;
  list-style: none;
  min-width: 40%;
}

.header__menu li {
  display: inline-block;
  cursor: pointer;
  padding: 0 1.6rem;
}

.header__menu li a {
  font-weight: bold;
  font-size: 2rem;
  text-decoration: none;
  color: #333;
}

.header__menu li a:hover {
  color: #00FFB2;
}

/* ! current page marker */

.current::after {
  content: '';
  display: block;
  width: 100%;
  height: 0.4rem;
  background-color: #00FFB2;
  border-radius: 9pt;
}

/* ! burger menu */

.burger__menu {
  display: none;
  cursor: pointer;
}

.burger__menu * {
  width: 3.5rem;
  height: 0.35rem;
  margin: 0.3rem 0;
  border-radius: 9pt;
  background-color: #333;
}

.burger__menu *:nth-child(3) {
  width: 2.3rem;
  background: #00FFB2;
}

/* ! wrapper */

.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3%;
  width: 100%;
  height: 80vh;
  padding: 5%;
}

/* ! card */

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30.7rem;
  height: 52.8rem;
  padding: 2%;
  border-radius: 19pt;
  box-shadow: 4px 4px 9px rgba(51, 51, 51, 0.25);
}

.card__img {
  width: 26rem;
  height: 26rem;
  border: 6pt solid #00FFB2;
  border-radius: 50%;
  background-color: #333333;
}

.blinky {
  background-image: url(..//img/blinky_card_img.png);
  background-size: cover;
  background-position: center center;
}

.hookies {
  background-image: url(..//img/hookies_card_img.png);
  background-size: cover;
  background-position: center center;
}

.jack {
  background-image: url(..//img/jack_card_img.png);
  background-size: cover;
  background-position: center center;
}

.oldo {
  background-image: url(..//img/oldo_card_img.png);
  background-size: cover;
  background-position: center center;
}


.card__text {
  width: 100%;
  height: auto;
  text-align: left;
}

/* ! box */

.box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: auto;
  color: #979797;
}

.box button {
  background-color: #00FFB2;
  border: none;
  border-radius: 6pt;
  text-align: center;
  cursor: pointer;
}

.box button a {
  display: block;
  padding: 1rem 3.2rem;
  text-decoration: none;
  color: #333;
  font-size: 1.6rem;
  font-weight: bold;
}

.info {
  width: auto;
  height: auto;
}

.info  p {
  font-size: 1.3rem;
  margin: 0;
}

/* ! footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  width: 100%;
  min-height: 10vh;
}

.footer p {
  color: #030303;
  font-size: 1.4rem;
  text-align: center;
  margin: 0;
}

/* ! media screen 1200px */

@media screen and (max-width: 1200px) {

  html {
    font-size: 56.25%;
  }
}

/* ! media screen 900px */

@media screen and (max-width: 900px) {

  html {
    font-size: 50%;
  }

  .header {
    justify-content: space-between;
    padding: 0 3rem;
  }

  .header__menu {
    display: none;
  }

  .header__menu {
    position: fixed;
    right: 0;
    width: 100%;
    height: 90vh;
    top: 10vh;
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    gap: 2rem;
    z-index: 10;
  }

  .header__menu li{
    opacity: 0;
    margin-bottom: 10vh;
  }

  .burger__menu {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .menu-active {
    transform: translatex(0%);
  }

/* ! navLinkFade */

  @keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }

    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  /* ! toggle */

  .toggle .line-1{
    transform: rotate(-45deg) translate(-5px, 5px);
  }
  .toggle .line-2{
    transform: rotate(45deg) translate(0px, 0px);

  }
  .toggle .line-3{
    opacity: 0;
  }

  .wrapper {
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 100%;
    height: 80vh;
  }

  .card {
    justify-content: space-around;
    padding: 3%;
  }
}

/* ! mobile // orientation landscape */

@media only screen and (max-device-width: 900px) and (max-device-height: 600px) and (orientation : landscape) {

  html {
    font-size: 37.5%;
  }

  .header__menu {
    flex-direction: row;
    width: 100%;
    height: 100%;
    gap: 6em;
    top: 10vh;
  }

  .header__logo {
    width: 14rem;
  }

  .header__menu li {
    margin-bottom: 20vh;
  }

  .wrapper {
    width: 100%;
    height: 100%;
    flex-direction: row;
  }

}

/* ! mobile // orientation portait */

@media only screen and (max-device-width: 414px) and (max-device-height: 900px) and (orientation : portrait) {

  html {
    font-size: 37.5%;
  }
}
